/* Tag selector to select the 'body' element */

body {background-color:#00b3e6;}
div {width:700px;
    margin:auto;
    font-family:Helvetica Neue;
    background:#FFFFFF;
    padding:30px;}

/* ID selector to select the elemen t with id 'main-header' */
#main-header {color: red;
              font-size: 22px;}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {font-style: italic;}
